body {
    margin: 0px 0px 0px 0px;
    overflow: hidden;
}

div.message {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80%;
    height: 80%;
    overflow: hidden;
    border-right: 1px;
    border-right-color: activeborder;
    border-right-style: solid;
    border-bottom: 1px;
    border-bottom-color: activeborder;
    border-bottom-style: solid;
    vertical-align: top;
    overflow: scroll;
}

div.participants {
    position: absolute;
    margin-left: 3px;
    top: 0px;
    left: 80%;
    width: 20%;
    height: 80%;
    vertical-align: top;
    border-left: 1px;
    border-left-color: activeborder;
    border-left-style: solid;
    border-bottom: 1px;
    border-bottom-color: activeborder;
    border-bottom-style: solid;
    overflow: auto;
    vertical-align: top;
}

div.sendmessage {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 110px;
    border-top: 1px;
    border-top-color: activeborder;
    border-top-style: solid;
    overflow: hidden;
    vertical-align: top;
}

div.verticalseparator {
    position: absolute;
    top: 0px;
    left: 80%;
    width: 3px;
    height: 80%;
    background-color: activeborder;
    cursor: e-resize;
    overflow: hidden;
}

div.horizontalseparator {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 3px;
    width: 100%;
    cursor: n-resize;
    background-color: activeborder;
    overflow: hidden;
}

textarea.sendbox {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 80%;
    height: 80px;
}

input.sendbutton {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 60px;
}

input.closebutton {
    position: absolute;
    right: 5px;
    top: 30px;
    width: 60px;
}

input.aboutbutton {
    position: absolute;
    right: 5px;
    top: 55px;
    width: 60px;
}

input.changenickbutton {
    position: absolute;
    right: 5px;
    top: 80px;
    width: 120px;
}

div.focusbox {
    position: absolute;
    left: 5px;
    top: 85px;
}